body {
    font-family: 'Noto Sans KR', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1160px 1fr;
    white-space: nowrap;
}

ul,
ol {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-rows: 200px 1fr 150px;
    grid-template-columns: 250px 1fr;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #81c784;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    margin-left: 10%;
}

aside {
    padding: 20px 10px 10px 20px;
    background-color: #519657;
}

aside .project_ol {
    padding-left: 20px;
}

aside .project_ol h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    padding: 10px 110px 10px 110px;
    background-color: #f0f4c3;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #bdc192;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon i {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.profile {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.profile_contents {
    margin: 10px 10px 10px 50px;
}

#profile_contents_detail {
    margin-top: 40px;
}

#profile_contents_detail li {
    margin-bottom: 10px;
}

.profile_image {
    width: 350px;
    height: 320px;
    border-radius: 5%;
    overflow: hidden;
}

.profile_image img {
    width: 100%;
    height: 100%;
}

.graph {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graph img {
    width: 660px;
    height: 100px;
}

.about-content {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.about-content .content_right {
    margin-left: 180px;
    margin-right: 200px;
}

.about-content li {
    margin-bottom: 10px;
}

.Archiving_flex {
    display: flex;
    flex-direction: row;
}

.Archiving_flex img {
    width: 330px;
    height: 230px;
    border-radius: 5%;
    overflow: hidden;
}

.Archiving_flex ul {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.Archiving_flex li {
    margin-bottom: 10px;
    overflow: hidden;
}

.Archiving_flex .Archiving_blog {
    margin-left: 60px;
}

.ProjectList_flexBox {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Project_itemBox {
    width: 320px;
    height: 280px;
    background-color: #519657;
    border-radius: 3%;
}

.Project_itemBox img {
    padding-left: 30px;
    padding-top: 30px;
    width: 80%;
    height: 60%;
}

.Project_itemBox h3 {
    padding-left: 30px;
}